body{
  overflow-x: hidden;
}
#row{
  font-family: "Arial", sans-serif !important;
}
h4{
  font-family: sans-serif !important;
}

  
  .timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
    
  }
  .timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 5px;
    border-radius: 6px;
    align-self: center;
    width: 100%;
  }

  .timeline__event__title {
    font-size: 0.8rem;
    line-height: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
    color: #51ac59;
  }
  .timeline__event__content {
    padding: 20px;
    width:40% !important;
    line-height: 1.2em;
    font-size: 0.7rem;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
  }
  .timeline__event__date {
    color: white;
    width:50% !important;
    font-size: 0.7rem;
    line-height:1.3em;
    font-weight: 600;
    background: #51ac59;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    border-radius: 6px 0 0 6px;
  }
  .timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5eac51;
    align-self: center;
    margin-right: 20px;
    background: #b4f6a4;
    border-radius: 100%;
    width: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 30px;
    height: 20px;
    position: relative;
  }
  .timeline__event__icon i {
    font-size: 27px;
  }
  .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 220%;
    background: #75b561;
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: fillTop 1s forwards 2s ease-in-out;
            animation: fillTop 1s forwards 2s ease-in-out;
  }
  .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #75b561;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: fillLeftOdd 1s forwards 2s ease-in-out;
            animation: fillLeftOdd 1s forwards 2s ease-in-out;
  }
  .timeline__event__description {
    flex-basis: 100%;
  }

  .timeline__event:last-child .timeline__event__icon:before {
    content: none;
  }
  
@media only screen and (max-width:800px){
  .timeline__event__icon i{
    font-size:1.3rem;
  }
  .timeline__event__icon {
    padding:30px;
  }
  .timeline__event{
    width:100%;
  }
  .timeline__event__date{
    padding:0 5px;
  }
  .timeline__event__content {
    padding: 10px;
  }
}
  @-webkit-keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @-webkit-keyframes fillTop {
    100% {
      top: 100%;
    }
  }
  @keyframes fillTop {
    100% {
      top: 100%;
    }
  }
  @-webkit-keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }
  @keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }

  